* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 44px;
  width: 100vw;
  padding: 0px 244px;
  background: rgba(0, 0, 0, 0.8);
}
nav > ul {
  display: flex;
}
nav > ul > li {
  margin-inline: 12.35px;
  list-style-type: none;
}
nav > ul > li > a {
  color: white;
  text-decoration: none;
}
.search {
  padding-top: 44px;
}
#phone-types {
  display: flex;
  width: 1444px;
  height: 129px;
  padding: 3px 171.672px 49px 171.672px;
  justify-content: center;
  align-items: flex-start;
  gap: 40.422px;
  flex-shrink: 0;
  margin-top: 10px;
}
.each-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#phone-types > div > h5 {
  color: #1d1d1f;
  text-align: center;
  font-family: SF Pro Text;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.337% */
  letter-spacing: -0.12px;
}
#phone-types > div > p {
  color: #bf4800;
  text-align: center;
  font-family: SF Pro Text;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: -0.08px;
}
#second-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px 266px;
}
#second-section div:nth-child(1) {
  color: #6e6e73;
  text-align: center;
  font-family: SF Pro Text;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px; /* 147.059% */
  letter-spacing: -0.374px;
  margin-bottom: 10px;
}
#second-section div:nth-child(3) {
  text-align: center;
  font-family: SF Pro Display;
  font-size: 48px;
  font-weight: 700;
  line-height: 52.008px; /* 108.349% */
  letter-spacing: -0.144px;
  background: linear-gradient(
    90deg,
    #2ca2b4 0%,
    #5598de 24%,
    #7f87ff 45%,
    #f65aad 76%,
    #ec3d43 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 15px;
}
#second-section div:nth-child(4) {
  color: #1d1d1f;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 21px;
  font-weight: 400;
  line-height: 29.001px; /* 138.1% */
  letter-spacing: 0.231px;
  margin-bottom: 15px;
}
#second-section > div > button {
  border-radius: 980px;
  background: #0071e3;
  padding: 8px 15.6px 8px 16px;
  color: white;
  border: none;
}
#second-section > div > a {
  color: #06c;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 21px;
  font-weight: 400;
  line-height: 29.001px; /* 138.1% */
  letter-spacing: 0.231px;
  text-decoration: none;
  margin-left: 28px;
}
#second-section div:last-child {
  padding: 20px 116px;
}
